<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services Page</title>
</head>
<body>
<h1>Welcome to service page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at, corporis natus odio odit
  perferendis velit vitae. Ad esse est, eveniet excepturi illum ipsa repellendus saepe suscipit
  ut vero. Amet aut dolor eligendi error ex exercitationem, iure iusto labore libero necessitatibus
  nobis odit perferendis qui reiciendis repellat rerum soluta temporibus.
</p>
<button>Click here  to dance</button>
</body>
</html>